*{
    margin:0px;
    padding:0px;
}

.main-1
{
  //  position: relative;
  border-radius: 10px;
  text-align: center;
    margin: 300px auto;
    width: 20%;
    background-color: rgb(232, 253, 232);
    height:30vh;
}
#head-1{
    padding: 5px;
}
#input-1{
    background-color: lightgray;
    border-radius: 5px;
}
#btn-1{
    overflow: hidden;
    padding:3px;
    border-radius: 10px;
    background-color: aqua;
}