*{
    margin:0px;
    padding:0px;
}
$base_color:rgb(175, 243, 243);
body{
    width:100%;
    object-fit: cover;
    background-image: url(../images/slider-1.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
nav{
    background-color: rgb(97,113,113);
}

ul{
   li a{
        color:white;
    }
}
.nav-items-1 {
    display: block;
}
.nav-item a{
    color:white;
}

.nav-item a:hover{
    color:$base_color;
}

.nav-items-1 a{
    border:1px solid rgb(248, 173, 108);
    border-radius:20px;
    padding-top:0px;
}
.container{
    justify-content: center;
    /*text-align:center*/
}
