
/*header section*/
*{
    margin:0px;
    padding:0px;
}
body{
    position:fixed;
    width: 100%;
    background-color: papayawhip; 
    margin: 0 auto;
}
header{
    background-color: black;
    height:100px;
}
.header-1{
    list-style: none;
    color:white;
}
.header-1 li{
    padding-left:100px;
    padding-top:50px;
    float:left;
}

.header-2{
    list-style:none;
    float:right;
    color:white;
}
.header-2 li{
    padding-right: 30px;
    padding-top:50px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 100,
    'size' 100
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 200,
  'opsz' 48
}
/*content section*/

.content{
    height:700px;
}

#customers{
    margin-left:auto;
    margin-right: auto;
    margin-top:100px;
    box-shadow: rgb(196, 216, 253) 10px 10px 10px 10px;
    width:30%;
    height:40%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 10px;
    border-collapse: collapse;
  }
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5e6261;
    color: white;
  }
  #customers tr:nth-child(even){
    background-color: rgb(137, 234, 202);
  }
  #customers tr:hover{
    background-color: darkgrey;
  }




/*footer section*/
footer{
    height:70px;
    background-color: black;
    color:white;
    text-align: center;
}
footer, h2{
    padding-top:15px;
}

